In [14]:
import requests
import json
import pandas as pd

## ATTOM dataset

In [2]:
api_key = "3c6fbf996c076f0ff2a393371f5bc0fe"

url = "https://api.gateway.attomdata.com/propertyapi/v1.0.0/property/basicprofile"

In [3]:
params = {
    "postalcode": "10001",  
    "pagesize": 100          
}

In [5]:
headers = {
    "apikey": api_key
}

In [6]:
response = requests.get(url, headers=headers, params=params)

if response.status_code == 200:
    data = response.json()

    properties = data.get("property", [])

    df = pd.json_normalize(properties)

    df.to_csv("attom_data.csv", index=False)

    print(" ATTOM data saved to attom_data.csv")

else:
    print(" Error:", response.status_code)
    print(response.text)

 ATTOM data saved to attom_data.csv

In [47]:
df

,identifier.Id,identifier.fips,identifier.apn,identifier.attomId,lot.lotNum,lot.zoningType,area.countrySecSubd,area.subdName,area.censusTractIdent,area.censusBlockGroup,...,summary.dateOfLastQuitClaim,assessment.mortgage.SecondConcurrent.trustDeedDocumentNumber,assessment.mortgage.SecondConcurrent.lenderLastName,assessment.owner.owner2.fullName,assessment.owner.owner2.lastName,assessment.owner.owner2.firstNameAndMi,building.construction.constructionType,assessment.tax.exemptiontype.Additional,assessment.owner.owner3.firstNameAndMi,location.geoIdV4.N3
0,30267,36061,00754-1004,30267,1004,Residential,New York,357 WEST 30TH STREET CONDO,10300,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,398087,36061,00779-0045,398087,45,Commercial,New York,NaN,9500,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1395391,36061,00804-0017,1395391,17,Residential,New York,NaN,9500,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1395418,36061,00753-0016,1395418,16,COMMERCIAL,New York,NaN,9700,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1528817,36061,00802-0077,1528817,77,Commercial,New York,NaN,9500,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,20201699,36061,00774-1244,20201699,1244,Residential,New York,THE CHELSEA MERCANTILE CONDOMINIUM,9100,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ANASTASIA,NaN
96,20201701,36061,00774-1199,20201701,1199,Residential,New York,THE CHELSEA MERCANTILE,9100,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,20201711,36061,00723-1016,20201711,1016,Residential,New York,HEYWOOD 263 9TH AVE,9300,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,20201712,36061,00723-1015,20201712,1015,Residential,New York,HEYWOOD,9300,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,20201713,36061,00723-1014,20201713,1014,Residential,New York,HEYWOOD,9300,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STEPHANIE,NaN

In [62]:
df_attom = pd.read_csv("attom_data.csv")

print(df_attom.columns.tolist())

['identifier.Id', 'identifier.fips', 'identifier.apn', 'identifier.attomId', 'lot.lotNum', 'lot.zoningType', 'area.countrySecSubd', 'area.subdName', 'area.censusTractIdent', 'area.censusBlockGroup', 'address.country', 'address.countrySubd', 'address.line1', 'address.line2', 'address.locality', 'address.matchCode', 'address.oneLine', 'address.postal1', 'address.postal2', 'address.postal3', 'location.accuracy', 'location.latitude', 'location.longitude', 'location.distance', 'location.geoid', 'location.geoIdV4.CO', 'location.geoIdV4.CS', 'location.geoIdV4.DB', 'location.geoIdV4.N1', 'location.geoIdV4.N2', 'location.geoIdV4.PL', 'location.geoIdV4.SB', 'location.geoIdV4.ZI', 'summary.absenteeInd', 'summary.propClass', 'summary.propSubType', 'summary.propType', 'summary.propertyType', 'summary.yearBuilt', 'summary.propLandUse', 'summary.propIndicator', 'summary.legal1', 'sale.saleSearchDate', 'sale.saleTransDate', 'sale.transactionIdent', 'sale.saleAmountData.saleAmt', 'sale.saleAmountData.saleCode', 'sale.saleAmountData.saleRecDate', 'sale.saleAmountData.saleDisclosureType', 'sale.saleAmountData.saleDocNum', 'sale.saleAmountData.saleTransType', 'building.size.bldgSize', 'building.size.grossSize', 'building.size.grossSizeAdjusted', 'building.size.livingSize', 'building.size.sizeInd', 'building.size.universalSize', 'building.summary.levels', 'building.summary.storyDesc', 'building.summary.unitsCount', 'building.summary.view', 'building.summary.viewCode', 'assessment.assessed.assdImprValue', 'assessment.assessed.assdLandValue', 'assessment.assessed.assdTtlValue', 'assessment.market.mktImprValue', 'assessment.market.mktLandValue', 'assessment.market.mktTtlValue', 'assessment.tax.taxAmt', 'assessment.tax.taxPerSizeUnit', 'assessment.tax.taxYear', 'assessment.improvementPercent', 'assessment.owner.corporateIndicator', 'assessment.owner.owner1.fullName', 'assessment.owner.owner1.lastName', 'assessment.owner.owner1.firstNameAndMi', 'assessment.owner.absenteeOwnerStatus', 'assessment.owner.mailingAddressOneLine', 'assessment.mortgage.FirstConcurrent.amount', 'assessment.mortgage.SecondConcurrent.amount', 'vintage.lastModified', 'vintage.pubDate', 'lot.depth', 'lot.frontage', 'lot.lotSize1', 'lot.lotSize2', 'location.geoIdV4.N4', 'assessment.owner.owner3.fullName', 'assessment.owner.owner3.lastName', 'assessment.mortgage.FirstConcurrent.trustDeedDocumentNumber', 'assessment.mortgage.FirstConcurrent.lenderLastName', 'sale.saleAmountData.saleDocType', 'identifier.multiApn', 'summary.dateOfLastQuitClaim', 'assessment.mortgage.SecondConcurrent.trustDeedDocumentNumber', 'assessment.mortgage.SecondConcurrent.lenderLastName', 'assessment.owner.owner2.fullName', 'assessment.owner.owner2.lastName', 'assessment.owner.owner2.firstNameAndMi', 'building.construction.constructionType', 'assessment.tax.exemptiontype.Additional', 'assessment.owner.owner3.firstNameAndMi', 'location.geoIdV4.N3']

## DATAFINITI dataset

In [13]:
import requests
import time
import urllib.request

API_token = 'eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJqb2lkNTNtMTVieXUwZDZrdHNoenFva24ybThmZmIwNSIsImlzcyI6ImRhdGFmaW5pdGkuY28ifQ.OR5RhGrJPCP66uRS66zXfEX7RJoQFtRN5AcyrC1uTXJoB6EPxJ76I2fb1uO7gaCy7oTY_drb4ggzkxl9XoCsgGqYOxsy4w1g1xT8x6ndzfspr9LpgBjxVyt0NKwvjG7gwzY0dzRXnu2HX-OkHdWrAZmQ2WpYtxriC5xzcHU0ocu3n8DkH72E5PK9LNJBaiG-ie8bdFrBg4JSubMdNcX3J_AOjjoE2giJZm5sZAOjS0Mz4sUuGJjl2W3rF0OFhd45hUVYCZyuMqxn5T17cIBv9BTFy8_f5sA2esV6mAuAur2dI1LTb90P2NOKLwrUmwaO3jgIinqTsI7ah6XpDXLLF7HXEHfQqmYxsJ-xzaoC3cRhjzOJiQYb2BkX6wXZy9Msgm3vv9pDREmFv0JmOJvCqT-jEBemGTf0I7lsqY3BGiX7ye0-HDWYVOVuf9J9EliHzULaebYXTVs5ZLIU0KzaHCUJm0HXY8JetRYt9sF-Lcsc8TybF_n8iXjk-IWePtMJA3udvnAGooR-ERPsaTauU54CAx_KhusWyzOGa0yPHEkwav8rk7kh8m5K_pwgrm71oGaxuO_ey0NFf7xRNFBBO1WCudT0NkqWmvhlscOopJrLhbkzjnuhPNkXJDuBjUmph1QNhKpHlUW_IvCs4bVryvakun9c9hryT2ElY4G0Eeo'  
headers = {
    'Authorization': f'Bearer {API_token}',
    'Content-Type': 'application/json'
}

payload = {
    'query': 'country:US AND propertyType:"Single Family Dwelling"',
    'format': 'csv',
    'num_records': 100,      
    'download': True         
}

# Step 1: Submit download request
response = requests.post('https://api.datafiniti.co/v4/properties/search', json=payload, headers=headers)

if response.status_code == 200:
    result = response.json()
    download_id = result['id']
    print("Download request submitted. Waiting...")

    # Step 2: Poll for download completion
    while True:
        time.sleep(5)
        r = requests.get(f'https://api.datafiniti.co/v4/downloads/{download_id}', headers=headers)
        status_data = r.json()
        print("Status:", status_data['status'])
        if status_data['status'] == 'completed':
            for i, url in enumerate(status_data['results'], 1):
                filename = f"{download_id}_{i}.csv"
                urllib.request.urlretrieve(url, filename)
                print(f"File saved: {filename}")
            break
else:
    print("Request failed:", response.status_code)
    print("Details:", response.text)

Request failed: 400
Details: {"errors":["`num_records` requested will exceed credit allotment for plan."]}

In [20]:
finiti_df = pd.read_csv("967949_1.CSV")

In [15]:
finiti_df

,id,absenteeOwner,address,apiURLs,appliances,architecturalStyles,assessedValues,brokers,buildingName,capRate,...,statuses,taxExemptions,taxID,title,topographyCode,transactions,trustDescription,vacancy,yearBuilt,zoning
0,8Fp1Q5cBfQaVAE5H8cPG,NaN,4013 Homeplace Dr,NaN,NaN,NaN,NaN,"[{""agent"":""Saun Sullivan"",""company"":""Cicero Re...",NaN,NaN,...,"[{""date"":""2025-06-04T00:00:00.000Z"",""dateSeen""...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2K_V3nYB7_VlwaV8_dL3,NaN,6833 Bay St,NaN,NaN,NaN,"[{""year"":2012,""totalAmount"":441655.0},{""year"":...",NaN,NaN,NaN,...,"[{""date"":""2023-02-14T00:00:00.000Z"",""dateSeen""...",NaN,36-31-15-90666-000-0080,NaN,NaN,"[{""saleDate"":""2023-02-14T00:00:00.000Z"",""buyer...",NaN,NaN,1997.0,NaN
2,Hatg2XIBzBVh0wsvUklc,NaN,332 W Tyland Blvd,NaN,"Gas Oven,Dishwasher,Microwave,Refrigerator,Gas...",NaN,NaN,"[{""agent"":""Ray Smith"",""company"":""American Drea...",NaN,NaN,...,"[{""date"":""2025-06-09T00:00:00.000Z"",""dateSeen""...",NaN,02-13-12-206-016.000-041,"Site-Built Home - New Haven, IN",NaN,"[{""saleDate"":""2021-10-29T07:00:00.000Z"",""price...",NaN,NaN,1959.0,NaN
3,DkXD2pUBfQaVAE5Hy7A1,NaN,3569 Fellowship Rd,NaN,"Electric Oven,Dishwasher,Microwave,Electric Ra...",Other,NaN,"[{""agent"":""Taylor Tremaine"",""company"":""Starlig...",NaN,NaN,...,"[{""date"":""2025-03-26T00:00:00.000Z"",""dateSeen""...",NaN,042H C 00500 000,NaN,NaN,NaN,NaN,NaN,2025.0,NaN
4,AW9vmFqEhcmU2WcK2QIZ,NaN,2112 S MOLE ST,NaN,NaN,NaN,"[{""year"":2023,""totalAmount"":186600.0,""landAmou...","[{""agent"":""Joseph Cristinzio"",""company"":""Mercu...",NaN,NaN,...,"[{""date"":""2022-04-26T00:00:00.000Z"",""dateSeen""...",NaN,26-1-2175-00,NaN,NaN,"[{""saleDate"":""2011-08-03T00:00:00.000Z"",""docum...",NaN,NaN,1920.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471,AW-2QIYP0x_BgD4exP8E,NaN,2760 Whispering Dr S,NaN,NaN,NaN,"[{""year"":2012,""totalAmount"":80441.0},{""year"":2...",NaN,NaN,NaN,...,"[{""date"":""2015-12-24T00:00:00.000Z"",""dateSeen""...",NaN,01-30-15-89021-000-0350,NaN,NaN,"[{""saleDate"":""1999-01-06T00:00:00.000Z"",""docum...",NaN,NaN,1984.0,NaN
472,4Kt1NI4B5p3ULnC0NaS4,NaN,6036 Holman Rd,NaN,"Gas Water Heater,Oven,Dishwasher,Humidifier,Re...","Traditional OneStory,Conventional","[{""year"":2023,""totalAmount"":41965.0,""landAmoun...","[{""agent"":""James Toon"",""company"":""The Danberry...",NaN,NaN,...,"[{""date"":""2025-07-22T00:00:00.000Z"",""dateSeen""...",NaN,2065307,"6036 Holman Rd, Toledo, OH 43615 | MLS# 613201...",NaN,"[{""saleDate"":""2007-01-09T00:00:00.000Z"",""buyer...",NaN,NaN,1968.0,NaN
473,AWpoZVWEmAoaauWBiAhr,NaN,3643 Old Orch Dr,NaN,"Countertop Range,Dishwasher,Refrigerator,Range...",Colonial,"[{""year"":2019,""totalAmount"":258900.0,""landAmou...","[{""agent"":""Colleen Stark"",""company"":""Hensley R...",NaN,NaN,...,"[{""date"":""2024-10-29T00:00:00.000Z"",""dateSeen""...",NaN,NaN,NaN,NaN,"[{""saleDate"":""2020-11-06T08:00:00.000Z"",""price...",NaN,NaN,1924.0,R-6
474,qubb44gBhBhNBLFcpS73,NaN,918 Bay Pt Dr,NaN,NaN,NaN,"[{""year"":2012,""totalAmount"":345610.0},{""year"":...",NaN,NaN,NaN,...,"[{""date"":""2005-01-10T00:00:00.000Z"",""dateSeen""...",NaN,NaN,NaN,NaN,"[{""saleDate"":""1996-12-19T00:00:00.000Z"",""docum...",NaN,NaN,1967.0,NaN
475,_ZtywXIBzBVh0wsvjAqY,NaN,2111 Wenonah Ave,NaN,NaN,Ranch,"[{""year"":2025,""totalAmount"":32001.0,""landAmoun...","[{""agent"":""Joshlyn Banks"",""company"":""Hunter's ...",NaN,NaN,...,"[{""date"":""2023-06-07T00:00:00.000Z"",""dateSeen""...",NaN,16-19-327-005-0000,NaN,NaN,"[{""saleDate"":""2011-12-05T00:00:00.000Z"",""docum...",NaN,NaN,1926.0,R-2

In [16]:
df_attom = pd.read_csv("attom_data.csv")

## ATTOM Cleaning

In [17]:
print("ATTOM data:")
print(df_attom.info())
print(df_attom.head())

ATTOM data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Columns: 103 entries, identifier.Id to location.geoIdV4.N3
dtypes: float64(33), int64(9), object(61)
memory usage: 80.6+ KB
None
   identifier.Id  identifier.fips identifier.apn  identifier.attomId  \
0          30267            36061     00754-1004               30267
1         398087            36061     00779-0045              398087
2        1395391            36061     00804-0017             1395391
3        1395418            36061     00753-0016             1395418
4        1528817            36061     00802-0077             1528817

   lot.lotNum lot.zoningType area.countrySecSubd               area.subdName  \
0        1004    Residential            New York  357 WEST 30TH STREET CONDO
1          45     Commercial            New York                         NaN
2          17    Residential            New York                         NaN
3          16     COMMERCIAL            New York                         NaN
4          77     Commercial            New York                         NaN

   area.censusTractIdent  area.censusBlockGroup  ...  \
0                  10300                      1  ...
1                   9500                      2  ...
2                   9500                      1  ...
3                   9700                      4  ...
4                   9500                      1  ...

  summary.dateOfLastQuitClaim  \
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         NaN

  assessment.mortgage.SecondConcurrent.trustDeedDocumentNumber  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  assessment.mortgage.SecondConcurrent.lenderLastName  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  assessment.owner.owner2.fullName assessment.owner.owner2.lastName  \
0                              NaN                              NaN
1                              NaN                              NaN
2                              NaN                              NaN
3                              NaN                              NaN
4                              NaN                              NaN

  assessment.owner.owner2.firstNameAndMi  \
0                                    NaN
1                                    NaN
2                                    NaN
3                                    NaN
4                                    NaN

  building.construction.constructionType  \
0                                    NaN
1                                    NaN
2                                    NaN
3                                    NaN
4                                    NaN

   assessment.tax.exemptiontype.Additional  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN

   assessment.owner.owner3.firstNameAndMi location.geoIdV4.N3
0                                     NaN                 NaN
1                                     NaN                 NaN
2                                     NaN                 NaN
3                                     NaN                 NaN
4                                     NaN                 NaN

[5 rows x 103 columns]

In [19]:
print(df_attom.columns.tolist())

['identifier.Id', 'identifier.fips', 'identifier.apn', 'identifier.attomId', 'lot.lotNum', 'lot.zoningType', 'area.countrySecSubd', 'area.subdName', 'area.censusTractIdent', 'area.censusBlockGroup', 'address.country', 'address.countrySubd', 'address.line1', 'address.line2', 'address.locality', 'address.matchCode', 'address.oneLine', 'address.postal1', 'address.postal2', 'address.postal3', 'location.accuracy', 'location.latitude', 'location.longitude', 'location.distance', 'location.geoid', 'location.geoIdV4.CO', 'location.geoIdV4.CS', 'location.geoIdV4.DB', 'location.geoIdV4.N1', 'location.geoIdV4.N2', 'location.geoIdV4.PL', 'location.geoIdV4.SB', 'location.geoIdV4.ZI', 'summary.absenteeInd', 'summary.propClass', 'summary.propSubType', 'summary.propType', 'summary.propertyType', 'summary.yearBuilt', 'summary.propLandUse', 'summary.propIndicator', 'summary.legal1', 'sale.saleSearchDate', 'sale.saleTransDate', 'sale.transactionIdent', 'sale.saleAmountData.saleAmt', 'sale.saleAmountData.saleCode', 'sale.saleAmountData.saleRecDate', 'sale.saleAmountData.saleDisclosureType', 'sale.saleAmountData.saleDocNum', 'sale.saleAmountData.saleTransType', 'building.size.bldgSize', 'building.size.grossSize', 'building.size.grossSizeAdjusted', 'building.size.livingSize', 'building.size.sizeInd', 'building.size.universalSize', 'building.summary.levels', 'building.summary.storyDesc', 'building.summary.unitsCount', 'building.summary.view', 'building.summary.viewCode', 'assessment.assessed.assdImprValue', 'assessment.assessed.assdLandValue', 'assessment.assessed.assdTtlValue', 'assessment.market.mktImprValue', 'assessment.market.mktLandValue', 'assessment.market.mktTtlValue', 'assessment.tax.taxAmt', 'assessment.tax.taxPerSizeUnit', 'assessment.tax.taxYear', 'assessment.improvementPercent', 'assessment.owner.corporateIndicator', 'assessment.owner.owner1.fullName', 'assessment.owner.owner1.lastName', 'assessment.owner.owner1.firstNameAndMi', 'assessment.owner.absenteeOwnerStatus', 'assessment.owner.mailingAddressOneLine', 'assessment.mortgage.FirstConcurrent.amount', 'assessment.mortgage.SecondConcurrent.amount', 'vintage.lastModified', 'vintage.pubDate', 'lot.depth', 'lot.frontage', 'lot.lotSize1', 'lot.lotSize2', 'location.geoIdV4.N4', 'assessment.owner.owner3.fullName', 'assessment.owner.owner3.lastName', 'assessment.mortgage.FirstConcurrent.trustDeedDocumentNumber', 'assessment.mortgage.FirstConcurrent.lenderLastName', 'sale.saleAmountData.saleDocType', 'identifier.multiApn', 'summary.dateOfLastQuitClaim', 'assessment.mortgage.SecondConcurrent.trustDeedDocumentNumber', 'assessment.mortgage.SecondConcurrent.lenderLastName', 'assessment.owner.owner2.fullName', 'assessment.owner.owner2.lastName', 'assessment.owner.owner2.firstNameAndMi', 'building.construction.constructionType', 'assessment.tax.exemptiontype.Additional', 'assessment.owner.owner3.firstNameAndMi', 'location.geoIdV4.N3']

In [18]:
# Drop duplicates
df_attom.drop_duplicates(inplace=True)

# Remove rows with too many missing values 
df_attom.dropna(thresh=5, inplace=True)

df_attom.fillna({
    'sale.saleAmountData.saleAmt': 0,
    'building.size.livingSize': 0,
    'building.summary.unitsCount': 0,  
    'summary.propType': 'unknown'      
}, inplace=True)

# Convert numeric columns to numbers
df_attom['sale.saleAmountData.saleAmt'] = pd.to_numeric(df_attom['sale.saleAmountData.saleAmt'], errors='coerce')
df_attom['building.size.livingSize'] = pd.to_numeric(df_attom['building.size.livingSize'], errors='coerce')
df_attom['building.summary.unitsCount'] = pd.to_numeric(df_attom['building.summary.unitsCount'], errors='coerce')

# Lowercase listing type strings
df_attom['summary.propType'] = df_attom['summary.propType'].str.lower()

## DATAFINITI Cleaning

In [21]:
finiti_df.columns.tolist()

['id',
 'absenteeOwner',
 'address',
 'apiURLs',
 'appliances',
 'architecturalStyles',
 'assessedValues',
 'brokers',
 'buildingName',
 'capRate',
 'capRateSourceURL',
 'cbsaName',
 'categories',
 'cbsaName.1',
 'cbsaCode',
 'censusBlock',
 'censusBlockGroup',
 'censusTract',
 'city',
 'civilDivisionCode',
 'civilDivisionName',
 'companies',
 'congressionalDistrictHouse',
 'country',
 'county',
 'countyFIPS',
 'currentOwnerType',
 'dateAdded',
 'dateUpdated',
 'deposits',
 'descriptions',
 'estimatedPrices',
 'exteriorConstruction',
 'exteriorFeatures',
 'features',
 'fees',
 'floorPlans',
 'floorSizeValue',
 'floorSizeUnit',
 'geoLocation',
 'geoQuality',
 'hvacTypes',
 'instrumentNumber',
 'involuntaryLienJudgement',
 'isUnit',
 'languagesSpoken',
 'latitude',
 'leasingTerms',
 'legalDescription',
 'legalRange',
 'listingName',
 'longitude',
 'lotDepthValue',
 'lotDepthUnit',
 'lotSizeValue',
 'lotSizeUnit',
 'managedBy',
 'mostRecentBrokerAgent',
 'mostRecentBrokerCompany',
 'mostRecentBrokerEmails',
 'mostRecentBrokerPhones',
 'mostRecentBrokerDateSeen',
 'mostRecentPriceAmount',
 'mostRecentPricePerSquareFoot',
 'mostRecentPriceDomain',
 'mostRecentPriceSourceURL',
 'mostRecentPriceDate',
 'mostRecentPriceFirstDateSeen',
 'mostRecentRentalPriceAmount',
 'mostRecentRentalPricePeriod',
 'mostRecentRentalPriceDomain',
 'mostRecentRentalPricePerSquareFoot',
 'mostRecentRentalPriceSourceURL',
 'mostRecentRentalPriceDate',
 'mostRecentRentalPriceFirstDateSeen',
 'mostRecentEstimatedPriceAmount',
 'mostRecentEstimatedPriceDomain',
 'mostRecentEstimatedPricePerSquareFoot',
 'mostRecentEstimatedPriceSourceURL',
 'mostRecentEstimatedPriceDate',
 'mostRecentEstimatedPriceFirstDateSeen',
 'mostRecentStatus',
 'mostRecentStatusDate',
 'mostRecentStatusFirstDateSeen',
 'mostRecentVacancy',
 'mostRecentVacancyFirstDateSeen',
 'mostRecentAbsenteeOwner',
 'mostRecentAbsenteeOwnerFirstDateSeen',
 'mostRecentInvoluntaryJudgement',
 'mostRecentInvoluntaryLien',
 'mostRecentInvoluntaryLienJudgementFirstDateSeen',
 'mlsName',
 'mlsID',
 'mlsNumber',
 'msaName',
 'msaCode',
 'neighborhoods',
 'numBathroom',
 'numBedroom',
 'numFloor',
 'numParkingSpaces',
 'numPeople',
 'numRoom',
 'numUnit',
 'ownerOccupiedStatus',
 'parcelNumbers',
 'parking',
 'parkingTypes',
 'paymentTypes',
 'people',
 'petPolicy',
 'permits',
 'phones',
 'postalCode',
 'prices',
 'propertyTaxes',
 'propertyType',
 'province',
 'reviews',
 'roofing',
 'rules',
 'sewerType',
 'subdivision',
 'statuses',
 'taxExemptions',
 'taxID',
 'title',
 'topographyCode',
 'transactions',
 'trustDescription',
 'vacancy',
 'yearBuilt',
 'zoning']

In [19]:
finiti_df.drop_duplicates(inplace=True)

NameError: name 'finiti_df' is not defined

In [23]:
finiti_df.dropna(thresh=10, inplace=True)

In [30]:
finiti_df.fillna({
    'numBedroom': 0,
    'numBathroom': 0,
    'mostRecentPriceAmount': 0,
    'floorSizeValue': 0
}, inplace=True)

In [31]:
finiti_df['mostRecentPriceAmount'] = pd.to_numeric(finiti_df['mostRecentPriceAmount'], errors='coerce')
finiti_df['floorSizeValue'] = pd.to_numeric(finiti_df['floorSizeValue'], errors='coerce')

In [32]:
finiti_df['propertyType'] = finiti_df['propertyType'].str.lower()
finiti_df['city'] = finiti_df['city'].str.title()

In [33]:
finiti_df_cleaned = finiti_df[[
    'title', 'address', 'city', 'province', 'postalCode',
    'numBedroom', 'numBathroom', 'mostRecentPriceAmount',
    'floorSizeValue', 'propertyType'
]].copy()

## Merge ATTOM + Datafiniti Cleaned Data

In [22]:
# Rename ATTOM columns
df_attom_renamed = df_attom.rename(columns={
    'address.oneLine': 'address',
    'address.locality': 'city',
    'address.countrySubd': 'province',
    'address.postal1': 'postalCode',
    'summary.propertyType': 'propertyType',
    'building.size.livingSize': 'floorSizeValue',
    'building.summary.unitsCount': 'numRoom',
    'summary.yearBuilt': 'yearBuilt',
    'sale.saleAmountData.saleAmt': 'mostRecentPriceAmount'
})

# Select relevant columns
df_attom_final = df_attom_renamed[[
    'address', 'city', 'province', 'postalCode',
    'propertyType', 'floorSizeValue', 'numRoom', 'yearBuilt', 'mostRecentPriceAmount'
]].copy()

# Rename Datafiniti columns
finiti_df_renamed = finiti_df.rename(columns={
    'numBedroom': 'numRoom',
    'floorSizeValue': 'floorSizeValue',
    'mostRecentPriceAmount': 'mostRecentPriceAmount',
    'title': 'address'
})

finiti_df_final = finiti_df_renamed[[
    'address', 'city', 'province', 'postalCode',
    'propertyType', 'floorSizeValue', 'numRoom', 'yearBuilt', 'mostRecentPriceAmount'
]].copy()

In [23]:
for df in [df_attom_final, finiti_df_final]:
    if 'numRoom' in df.columns:
        print("Type of df['numRoom']:", type(df['numRoom']))

Type of df['numRoom']: <class 'pandas.core.series.Series'>
Type of df['numRoom']: <class 'pandas.core.frame.DataFrame'>

In [24]:
# Check what the values look like
print(finiti_df_final['numRoom'].head(3))

   numRoom  numRoom
0      3.0      NaN
1      4.0      NaN
2      4.0      7.0

In [25]:
def deduplicate_columns(columns):
    seen = {}
    new_columns = []
    for col in columns:
        if col not in seen:
            seen[col] = 0
            new_columns.append(col)
        else:
            seen[col] += 1
            new_columns.append(f"{col}_{seen[col]}")
    return new_columns

# Apply it
finiti_df_final.columns = deduplicate_columns(finiti_df_final.columns)

In [26]:
print(finiti_df_final[['numRoom', 'numRoom_1']].head())

   numRoom  numRoom_1
0      3.0        NaN
1      4.0        NaN
2      4.0        7.0
3      3.0        NaN
4      3.0        NaN

In [27]:
# Drop the duplicate column
finiti_df_final.drop(columns=['numRoom_1'], inplace=True)

# Clean and convert numRoom to integer
finiti_df_final['numRoom'] = pd.to_numeric(finiti_df_final['numRoom'], errors='coerce').fillna(0).astype(int)

In [28]:
print(df_attom_final.columns.tolist())

['address', 'city', 'province', 'postalCode', 'propertyType', 'floorSizeValue', 'numRoom', 'yearBuilt', 'mostRecentPriceAmount']

In [29]:
# Mapping for ATTOM columns to standard
attom_rename_map = {
    'address': 'address',
    'city': 'city',
    'province': 'state',
    'postalCode': 'postalCode',
    'mostRecentPriceAmount': 'price',
    'floorSizeValue': 'size_sqft',
    'numRoom': 'num_rooms',
    'yearBuilt': 'year_built'
}

# Keep only relevant columns and rename
attom_existing = [col for col in attom_rename_map if col in df_attom_final.columns]
attom_clean = df_attom_final[attom_existing].rename(columns={col: attom_rename_map[col] for col in attom_existing})

In [34]:
# Mapping for Datafiniti columns to standard names
finiti_rename_map = {
    'address': 'address',
    'city': 'city',
    'province': 'state',
    'postalCode': 'postalCode',
    'mostRecentPriceAmount': 'price',
    'floorSizeValue': 'size_sqft',
    'numRoom': 'num_rooms',
    'yearBuilt': 'year_built'
}

# Select columns that exist in finiti_df_final
finiti_existing = [col for col in finiti_rename_map if col in finiti_df_final.columns]

# Rename and select only needed columns
finiti_clean = finiti_df_final[finiti_existing].rename(columns={col: finiti_rename_map[col] for col in finiti_existing})

In [35]:
combined_df = pd.concat([attom_clean, finiti_clean], ignore_index=True)

In [43]:
combined_df.drop_duplicates(inplace=True)

In [36]:
# Save the combined DataFrame to a CSV file
combined_df.to_csv('cleaned_combined_property_data.csv', index=False)

# Confirm it's saved
print("File saved as 'cleaned_combined_property_data.csv'")

File saved as 'cleaned_combined_property_data.csv'

In [44]:
combined_df.isnull().sum()  # check missing counts

combined_df['price'].fillna(combined_df['price'].median(), inplace=True)
combined_df['size_sqft'].fillna(combined_df['size_sqft'].median(), inplace=True)

combined_df.dropna(subset=['price', 'size_sqft'], inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_21760\125437479.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined_df['price'].fillna(combined_df['price'].median(), inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_21760\125437479.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined_df['size_sqft'].fillna(combined_df['size_sqft'].median(), inplace=True)

In [45]:
combined_df['price'] = combined_df['price'].fillna(combined_df['price'].median())
combined_df['size_sqft'] = combined_df['size_sqft'].fillna(combined_df['size_sqft'].median())

combined_df.dropna(subset=['price', 'size_sqft'], inplace=True)

In [47]:
print(combined_df.columns.tolist())

['address', 'city', 'state', 'postalCode', 'price', 'size_sqft', 'num_rooms', 'year_built']

In [48]:
combined_df['price'] = combined_df['price'].astype(float)
combined_df['size_sqft'] = combined_df['size_sqft'].astype(float)
combined_df['num_rooms'] = combined_df['num_rooms'].fillna(0).astype(int)
combined_df['year_built'] = combined_df['year_built'].fillna(0).astype(int)

In [49]:
# Save the cleaned combined dataset to CSV
combined_df.to_csv('cleaned_property_data.csv', index=False)

In [50]:
import pandas as pd

def clean_property_data(raw_data):
    # Convert input JSON list/dict to DataFrame
    df = pd.DataFrame(raw_data)

    # Rename columns for consistency
    rename_map = {
        'province': 'state',
        'mostRecentPriceAmount': 'price',
        'floorSizeValue': 'size_sqft',
        'numRoom': 'num_rooms',
        'yearBuilt': 'year_built'
    }
    df.rename(columns=rename_map, inplace=True)

    # Convert types and fill missing
    df['price'] = pd.to_numeric(df['price'], errors='coerce').fillna(df['price'].median())
    df['size_sqft'] = pd.to_numeric(df['size_sqft'], errors='coerce').fillna(df['size_sqft'].median())
    df['num_rooms'] = pd.to_numeric(df['num_rooms'], errors='coerce').fillna(0).astype(int)
    df['year_built'] = pd.to_numeric(df['year_built'], errors='coerce').fillna(0).astype(int)

    # Drop rows with missing essential data
    df.dropna(subset=['price', 'size_sqft'], inplace=True)

    return df

In [54]:
!pip install fastapi uvicorn nest_asyncio python-multipart pandas

Requirement already satisfied: fastapi in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (0.115.12)
Requirement already satisfied: uvicorn in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (0.34.2)
Requirement already satisfied: nest_asyncio in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (1.6.0)
Collecting python-multipart
  Downloading python_multipart-0.0.20-py3-none-any.whl.metadata (1.8 kB)
Requirement already satisfied: pandas in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (2.3.0)
Requirement already satisfied: starlette<0.47.0,>=0.40.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from fastapi) (0.46.2)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from fastapi) (2.11.5)
Requirement already satisfied: typing-extensions>=4.8.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from fastapi) (4.13.2)
Requirement already satisfied: click>=7.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from uvicorn) (8.2.1)
Requirement already satisfied: h11>=0.8 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from uvicorn) (0.16.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: colorama in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from click>=7.0->uvicorn) (0.4.6)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4->fastapi) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4->fastapi) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4->fastapi) (0.4.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: anyio<5,>=3.6.2 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from starlette<0.47.0,>=0.40.0->fastapi) (4.9.0)
Requirement already satisfied: idna>=2.8 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from anyio<5,>=3.6.2->starlette<0.47.0,>=0.40.0->fastapi) (3.10)
Requirement already satisfied: sniffio>=1.1 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from anyio<5,>=3.6.2->starlette<0.47.0,>=0.40.0->fastapi) (1.3.1)
Downloading python_multipart-0.0.20-py3-none-any.whl (24 kB)
Installing collected packages: python-multipart
Successfully installed python-multipart-0.0.20

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import nest_asyncio
import uvicorn
from fastapi import FastAPI, File, UploadFile
from fastapi.responses import JSONResponse
import pandas as pd
import io
import threading
# Apply patch for nested event loops (needed in notebooks)
nest_asyncio.apply()

# Create FastAPI app
app = FastAPI()

# Cleaning function
def clean_property_data(df):
    df.dropna()
    return df

# Upload route
@app.post("/clean_csv/")
async def clean_csv(file: UploadFile = File(...)):
    try:
        contents = await file.read()
        df = pd.read_csv(io.StringIO(contents.decode('utf-8')))
        cleaned_df = clean_property_data(df)
        return {"response":f"Cleaning done, original {len(df)},cleaned {len(cleaned_df)}"}
    except Exception as e:
        return JSONResponse(content={"error": str(e)}, status_code=400)
def run():
# Run FastAPI app inside the notebook
    uvicorn.run(app, host="0.0.0.0", port=8000)
threading.Thread(target=run).start()

INFO:     Started server process [19548]
INFO:     Waiting for application startup.
INFO:     Application startup complete.
INFO:     Uvicorn running on http://0.0.0.0:8000 (Press CTRL+C to quit)

INFO:     192.168.100.6:62884 - "POST /clean_csv/ HTTP/1.1" 200 OK

In [39]:
from sklearn.preprocessing import OneHotEncoder

# Use sparse_output instead of sparse
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore', sparse_output=False))
])

In [41]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

# Define your feature columns again
categorical_cols = ['city', 'state', 'postalCode']
numerical_cols = ['size_sqft', 'num_rooms', 'year_built']

# Numeric preprocessing
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median'))
])

# Categorical preprocessing (updated for sklearn >=1.2)
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore', sparse_output=False))
])

# Combine into a ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ]
)

In [49]:
# 1. Imports
import pandas as pd
import numpy as np  # added numpy import
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression, Lasso  
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# 2. Load your data (adjust path if needed)
df = pd.read_csv("cleaned_combined_property_data.csv")  # or your exact path

# 3. Drop rows with missing target
df_model = df.dropna(subset=['price'])

# 4. Split features and target
X = df_model.drop(columns=['price', 'address'])
y = df_model['price']

# 5. Define columns
categorical_cols = ['city', 'state', 'postalCode']
numerical_cols = ['size_sqft', 'num_rooms', 'year_built']

# 6. Preprocessing pipeline
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median'))
])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore', sparse_output=False))  # for sklearn >=1.2
])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ]
)

# 7. Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# 8. Models
models = {
    'Linear Regression': LinearRegression(),
    'Decision Tree': DecisionTreeRegressor(random_state=42),
    'Random Forest': RandomForestRegressor(random_state=42),
    'Lasso Regression': Lasso(random_state=42)
}

# 9. Evaluation
results = []
for name, model in models.items():
    pipeline = Pipeline(steps=[
        ('preprocessor', preprocessor),
        ('regressor', model)
    ])
    pipeline.fit(X_train, y_train)
    y_pred = pipeline.predict(X_test)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    r2 = r2_score(y_test, y_pred)
    results.append({'Model': name, 'RMSE': rmse, 'R² Score': r2})

# 10. Show results
results_df = pd.DataFrame(results).sort_values(by='R² Score', ascending=False)
results_df.reset_index(drop=True, inplace=True)
results_df

C:\Users\admin\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.751e+16, tolerance: 4.371e+12
  model = cd_fast.enet_coordinate_descent(

               Model          RMSE  R² Score
0      Random Forest  7.339773e+06 -0.132830
1  Linear Regression  7.456869e+06 -0.169264
2   Lasso Regression  7.467134e+06 -0.172486
3      Decision Tree  7.525433e+06 -0.190865